/***** RESET *****/

.attention {
  outline: 1px solid red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***** GLOBAL STYLES *****/


/***** FRONT-END MENTOR STYLES *****/

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
