/***** RESET *****/

.attention {
  outline: 1px solid red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***** GLOBAL STYLES *****/

body {
  font-size: 18px;
  font-family: 'Space Grotesk', sans-serif;
}

/***** MOBILE STYLES *****/

.card-front {
  background-image: url("../images/bg-card-front.png");
  background-repeat: no-repeat;
}

.card-back {
  background-image: url("../images/bg-card-back.png");
  background-repeat: no-repeat;
}

/***** FRONT-END MENTOR STYLES *****/

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
