/***** RESET *****/

.attention {
  outline: 1px solid red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***** GLOBAL STYLES *****/

body {
  font-size: 18px;
  font-family: 'Space Grotesk', sans-serif;
}

/***** MOBILE STYLES *****/

.card-area {
  background-image: url("../images/bg-main-mobile.png");
  color: white;
  height: 100%;
}

.card-front-wrapper {
  padding: 1.7rem;
}

.card-front {
  background-image: url("../images/bg-card-front.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  overflow: none;
}

.logo {
  width: 3.75rem;
}

.card-number {
  margin: 3rem 0 0 0;
  letter-spacing: .1875rem;
}

.card-lower-text {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: .15rem;
  margin-top: 1.7rem;
}

.card-back {
  background-image: url("../images/bg-card-back.png");
  background-repeat: no-repeat;
}

/***** FRONT-END MENTOR STYLES *****/

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
